#charts {

.central-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	gap: 20px;
}

.chart {
	min-width: 260px;
	padding: 20px 0;
	box-sizing: border-box;
	min-height: calc(100dvh - 60px);
}

.chart-tables {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	gap: 20px;
	flex-wrap: wrap;
}

.vert-chart-tables {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;
}

.chart-title {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.chart-title .j-word {
	display: inline-flex;
	flex-direction: column;
}

.chart-title .en {
	font-size: 1.1rem;
	padding: 0;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	color: var(--chart-title-color);
	align-items: baseline;
}

.chart-title .ja {
	font-size: 0.8rem;
	margin: 0;
	padding: 0 4px;
	line-height: 0.9;
	letter-spacing: 0;
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	font-family: var(--fancy-font);
	color: var(--chart-title-ja-color);
}

table {
	border-collapse: collapse;
	background: var(--cell-bg);
	box-shadow: var(--chart-shadow);
	margin-bottom: 10px;
	overflow: hidden;
	transform: translateX(-12px);
}

th, td {
	box-sizing: border-box;
	padding: 0;
	text-align: center;
}

.header {
	color: var(--header-color);
	background-color: var(--header-bg);
	border: 1px solid var(--border-color);
	font-family: monospace;
	font-weight: bold;
	font-size: 0.8rem;
}

.header.vowel, .cell {
	padding: 6px 8px;
}

.header.consonant {
	width: 24px;
}

.kana {
	font-size: 1.6rem;
	line-height: 1.6rem;
}

.romaji {
	font-size: 0.7rem;
}

.type-hint {
	border: 1px solid var(--romaji-color);
	border-radius: 4px;
	margin-left: 1px;
	padding: 1px;
}

.cell.empty {
	background-color: transparent;
	background: none;
	box-shadow: none;

	> * {
		display: none !important;
	}
}

@media (max-width: 480px) {
	.kana {
		font-family: var(--mobile-kana-font);
	}
}

}



/***************** Conditional *****************/



:root.view-compact #charts {
	.chart {
		min-width: 0;
	}

	table {
		transform: translateX(0);
	}

	.chart-title {
		transform: translateX(8px);
		width: calc(100% - 8px);
		margin-bottom: 5px;
	}

	.chart-title .en {
		font-size: 0.9rem;
	}

	.chart-title .ja {
		/* font-size: 0.7rem; */
		display: none;
	}

	.header {
		font-size: 0.7rem;
	}

	.header.consonant {
		width: 16px;
	}

	.header.vowel, .cell {
		padding: 4px;
	}

	.kana {
		font-size: 1.3rem;
		line-height: 1.3rem;
	}

	.romaji {
		font-size: 0.5rem;
	}
}

:root:not(.show-extended) #charts {
	.extended {
		display: none;
	}
}

:root.show-extended #charts {
	table {
		transform: translateX(0);
	}

	.header.vowel, .cell {
		padding: 3px 4px;
	}

	tr:has(th) {
		display: none;
	}
}

:root.view-compact.show-extended #charts {
	.header.vowel, .cell {
		padding: 2px;
	}
}

:root.hide-header #charts {
	.chart {
		min-height: 100dvh;
	}
}

:root.hide-obsolete #charts {
	.obsolete {
		/* all: revert;	*/
		background-color: transparent !important;
		background: none !important;
		box-shadow: none !important;

		> * {
			display: none !important;
		}
	}
}

:root.hide-romaji #charts {
	.romaji {
		display: none;
	}
}

:root.hide-hints #charts {
	.type-hint {
		display: none;
	}
}

:root.hide-hiragana #charts {
	.chart.hira {
		display: none;
	}
}

:root.hide-katakana #charts {
	.chart.kata {
		display: none;
	}
}

:root.hide-headers #charts {
	.chart-title {
		margin-bottom: 15px;
	}

	.header.vowel, .header.consonant {
		display: none;
	}
}
